<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <style>
      /* CSS pour styliser les boutons */
      .square-button {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: 110px;
        background-color: deepskyblue ;/* Vert */
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div>
      <!-- Bouton 1 -->
      <a href="home.html" class="square-button">
        <span>Statistiques</span>
      </a>

      <!-- Bouton 2 -->
      <a href="#" class="square-button">
        <span>Find ton outfit</span>
      </a>
    </div>
  </body>
</html>
